.button-wrapper{
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: aliceblue;
    color: black;
    flex: 1;
    outline: 1px solid black;
}

.operator{
    background-color: #fe9241;
    color: white;
}